*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --fontfamily: 'Poppins', sans;
    --fontsize: 1rem;
    --fontsize2: 2rem;
    --color: #fff;
    --text-transform: capitalize;
    --letter-spacing: 2px;
    --font-weight: bolder;
    --background-color: purple;
    --transition: 0.5s;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

.header{
    width: 100%;
    padding: 1% 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    box-shadow: 1px 1px 1px var(--background-color);
    position: fixed;
    z-index: 100;
}

.header > .headings > h1{
    color: white;
    font-family: var(--fontfamily);
    font-size: 2rem;
    letter-spacing: var(--letter-spacing);
    text-transform: var(--text-transform);
}

.header > .navbar > ul{
    display: flex;
    list-style: none;
}

.header > .navbar > ul > li > a{
    padding: 5px;
    margin-right: 23px;
    font-size: 15px;
    font-family: var(--fontfamily);
    color: var(--color);
    text-transform: var(--text-transform);
    text-decoration: none;
    position: relative;
}

.header > .navbar > ul > li > a::before{
    content: '';
    width: 50%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: var(--background-color);
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition:transform .5s linear;
}

.header > .navbar > ul > li > a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}


.header > .navbar > ul li a.active:before{
    content: '';
    width: 50%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: var(--background-color);
    position: absolute;
    transform: scaleX(1);
    transform-origin: left;
    transition:transform .5s linear;
    color: var(--background-color);
    font-family: sans-serif;
}
/* the header ends here */

/* the landing start here */

.landing{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(19, 18, 18, 0.712), rgba(14, 13, 13, 0.614)), url(../IMAGES/background.jpg);
}

.landing > .about-container{
    display: block;
    width: 90%;
    min-height: 80vh;
    margin-top: 10%;
    background-color: black;
    padding: 2%;
}

.landing > .about-container > .headings{
    margin-bottom: 2%;
}


.landing > .about-container > .headings > h3{
    width: 20%;
    color: var(--color);
    font-family: var(--fontfamily);
    font-size: var(--fontsize);
    text-transform: var(--text-transform);
    letter-spacing: var(--letter-spacing);
    margin-bottom: 1%;
} 

h3 > .line{
    display: inline-block;
    margin-left: 2%;
    width: 30%;
    height: 3px;
    background: var(--background-color);
}


.landing > .about-container > .headings > h1{
    font-family: var(--fontfamily);
    font-size: 2.7rem;
    text-transform: uppercase;
    color: var(--color);
}

.landing > .about-container > .content{
    width: 95%;
    height: 80%;
    background: transparent;
    margin-bottom: 3%;
    
}

.landing > .about-container > .content > .content2 > .content3{
    width: 100%;
    display: inline-flex;
}


.landing > .about-container > .content > .content2 > .content3 > .image{
    width: 33%;
    height: 50%;
    background-color: transparent;
    margin-right: 4%;
}
.landing > .about-container > .content > .content2 > .content3 > .image > img{
    width: 300px;
    height: 300px;
}

.about-container > .content > .content2 > .content3 > .content4{
    width: 100%;
    background-color: transparent;
    
}

.about-container > .content > .content2 > .content3 > .content4 h1{
    font-family: var(--fontfamily);
    font-size: var(--fontsize2);
    text-transform: var(--text-transform);
    font-weight: var(--font-weight);
    color: var(--background-color);
    margin-bottom: 1%;
}

.about-container > .content > .content2 > .content3 > .content4 p{
    color: white;
    width: 100%;
    font-family: sans-serif;
    font-size: 20px;
    font-style: italic;
}

.about-container > .content > .content2 > .content3 > .content4 > .contact{
    width: 90%;
    background: transparent;
    margin-top: 3%;
}
.contact > ul{
    list-style: none;
}
.contact > ul > li{
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    margin-bottom: 5%;
    text-transform: var(--text-transform);
}
.contact > ul > li>.fa{
    color: var(--background-color);
    margin-right: 2%;
}
.contact > ul > li > strong{
    color: var(--background-color);
}
.about-container > .skills{
    width: 100%;
    display: block;
    background: transparent;
}

.about-container > .skills > .headings > h3{
    width: 20%;
    color: var(--color);
    font-family: var(--fontfamily);
    font-size: 1.3rem;
    text-transform: var(--text-transform);
    letter-spacing: var(--letter-spacing);
    margin-bottom: 1%;
} 

h3 > .line{
    display: inline-block;
    margin-left: 2%;
    width: 30%;
    height: 3px;
    background: var(--background-color);
}


.about-container > .skills > .headings > h1{
    font-family: var(--fontfamily);
    font-size: 2.7rem;
    text-transform: uppercase;
    color: var(--color);
}

.about-container > .skills > .the-skills{
    width: 100%;
    background-color: transparent;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.about-container > .skills > .the-skills{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color:  transparent;
}


/* .about-container > .skills > .the-skills {
    display: flex;
    flex-direction: column;
} */

.about-container > .skills > .the-skills > .progress {
    
    padding: 10px;
    background-color: transparent;
    width: 60%;
}

.about-container > .skills > .the-skills > .progress > .skill{
    margin-bottom: 10px;
    width: 100%;
    border-radius: 10px;
    
}

.about-container > .skills > .the-skills > .progress > .skill > .skill-name {
    margin-bottom: 5px;
    color: var(--color);
    text-align: left;
}

.about-container > .skills > .the-skills > .progress > .skill > .progress-bar {
    width: 0%;
    height: 15px;
    font-size: 12px;
    background-color: var(--background-color);
    color: var(--color);
    text-align: center;
    line-height: 15px;
    transition: width 0.5s ease;
    border-radius: 10px;
}





/* the landing ends here */

@media only screen and (max-width: 768px){
    

    .header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 2% 3%;
        position: fixed;
        background: black;
    }

    .header > .fa{
        color: var(--color);
    }
    .header > .navbar > .fa{
        color: var(--color);
        font-size: 21px;
        float: right;
        margin: 10px 20px;
    }

    /* .header > .navbar{
        position: absolute;
        left: -300px;
        top: 0;
        width: 250px;
        height: 100vh;
        z-index: 999;
        background: rgb(21, 19, 19);    
        box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.5);
        transition: 0.5s;
        display: inline-block;
    } */
.header > .navbar{
    overflow: hidden;
    background-color: #333;
    position: fixed; /* or "absolute" depending on your layout */
    top: 0;
    left: -300px; /* initially hide the menu off-screen */
    transition: left 0.3s ease; /* smooth transition when showing/hiding */
    z-index: 1000; /* ensure it's above other content */
    width: 250px; /* adjust according to your design */
    height: 100%;
}
    .header > .headings{
        width: 50%;
    }
    .header > .headings > h1{
        font-size: 15px;
    }

    .header > .navbar > ul{
        display: block;
        margin-top: 22%;
        padding: 1% 5%;
    }

    .header > .navbar > ul li{
        margin-top: 5%;
    }


    
    
}   