*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --fontfamily: 'Poppins', sans;
    --fontsize: 1rem;
    --fontsize2: 2rem;
    --color: #fff;
    --text-transform: capitalize;
    --letter-spacing: 2px;
    --font-weight: bolder;
    --background-color: purple;
    --transition: 0.5s;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

.header{
    width: 100%;
    padding: 1% 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    box-shadow: 1px 1px 1px var(--background-color);
    position: fixed;
    z-index: 100;
}

.header > .headings > h1{
    color: white;
    font-family: var(--fontfamily);
    font-size: 2rem;
    letter-spacing: var(--letter-spacing);
    text-transform: var(--text-transform);
}

.header > .navbar > ul{
    display: flex;
    list-style: none;
}

.header > .navbar > ul > li > a{
    padding: 5px;
    margin-right: 23px;
    font-size: 15px;
    font-family: var(--fontfamily);
    color: var(--color);
    text-transform: var(--text-transform);
    text-decoration: none;
    position: relative;
}

.header > .navbar > ul > li > a::before{
    content: '';
    width: 50%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: var(--background-color);
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition:transform .5s linear;
}

.header > .navbar > ul > li > a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}


.header > .navbar > ul li a.active:before{
    content: '';
    width: 50%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: var(--background-color);
    position: absolute;
    transform: scaleX(1);
    transform-origin: left;
    transition:transform .5s linear;
    color: var(--background-color);
    font-family: sans-serif;
}
/* the header ends here */

/* the landing start here */

.landing{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(19, 18, 18, 0.712), rgba(14, 13, 13, 0.614)), url(../IMAGES/background.jpg);
}

.landing > .about-container{
    display: block;
    width: 90%;
    min-height: 80vh;
    margin-top: 10%;
    background-color: black;
    padding: 2%;
}

.landing > .about-container > .headings{
    margin-bottom: 2%;
}


.landing > .about-container > .headings > h3{
    width: 20%;
    color: var(--color);
    font-family: var(--fontfamily);
    font-size: var(--fontsize);
    text-transform: var(--text-transform);
    letter-spacing: var(--letter-spacing);
    margin-bottom: 1%;
} 

h3 > .line{
    display: inline-block;
    margin-left: 2%;
    width: 30%;
    height: 3px;
    background: var(--background-color);
}


.landing > .about-container > .headings > h1{
    font-family: var(--fontfamily);
    font-size: 2.7rem;
    text-transform: uppercase;
    color: var(--color);
}

.landing > .about-container > .content{
    width: 95%;
    height: 80%;
    background: transparent;
    margin-bottom: 3%;
    
}

.landing > .about-container > .content > .content2 > .content3{
    width: 100%;
    display: inline-flex;
}


.landing > .about-container > .content > .content2 > .content3 > .image{
    width: 33%;
    height: 50%;
    background-color: transparent;
    margin-right: 4%;
}
.landing > .about-container > .content > .content2 > .content3 > .image > img{
    width: 300px;
    height: 300px;
}

.about-container > .content > .content2 > .content3 > .content4{
    width: 100%;
    background-color: transparent;
    
}

.about-container > .content > .content2 > .content3 > .content4 h1{
    font-family: var(--fontfamily);
    font-size: var(--fontsize2);
    text-transform: var(--text-transform);
    font-weight: var(--font-weight);
    color: var(--background-color);
    margin-bottom: 1%;
}

.about-container > .content > .content2 > .content3 > .content4 p{
    color: white;
    width: 100%;
    font-family: sans-serif;
    font-size: 20px;
    font-style: italic;
}

.about-container > .content > .content2 > .content3 > .content4 > .contact{
    width: 60%;
    background: transparent;
    margin-top: 3%;
}
.contact > ul{
    list-style: none;
}
.contact > ul > li{
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    margin-bottom: 5%;
    text-transform: var(--text-transform);
}
.contact > ul > li>.fa{
    color: var(--background-color);
    margin-right: 2%;
}
.about-container > .skills{
    width: 100%;
    display: block;
    background: transparent;
}

.about-container > .skills > .headings > h3{
    width: 20%;
    color: var(--color);
    font-family: var(--fontfamily);
    font-size: 1.3rem;
    text-transform: var(--text-transform);
    letter-spacing: var(--letter-spacing);
    margin-bottom: 1%;
} 

h3 > .line{
    display: inline-block;
    margin-left: 2%;
    width: 30%;
    height: 3px;
    background: var(--background-color);
}


.about-container > .skills > .headings > h1{
    font-family: var(--fontfamily);
    font-size: 2.7rem;
    text-transform: uppercase;
    color: var(--color);
}

.about-container > .skills > .the-skills{
    width: 100%;
    background-color: transparent;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.about-container > .skills > .the-skills{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color:  transparent;
}

.the-skills > .progress{
    width: 60%;
    display: block;
    background-color: transparent;
    box-shadow:  0 14px 28px rgb(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.the-skills > .progress > li{
    list-style: none;
    margin: 20px 0;
    padding: 5px;
}

.the-skills > .progress > li > h3{
    font-family: sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    color: var(--color);
    margin-bottom: 1%;
}

.the-skills > .progress > li > .bar{
    background-color: #353b48;
    display: block;
    height: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.the-skills > .progress > li > .bar > .html{
    width: 90%;
    height: 10px;
    background-color: var(--background-color);
    border-radius: 10px;
}


/* 
.the-skills > .progress > li > .bar > span{
    height: 10px;
    float: left;
    background-color: linear-gradient(135deg, rgba(236, 0, 140, 1)0%, rgba(252, 103, 103, 1)100%);
} */


/* .the-skills > .progress > li > .bar > .html{
    width: 90%;
    animation: html 3s;
}


.the-skills > .progress > li >  .bar > .css{
    width: 80%;
    animation: css 3s;
}

.the-skills > .progress > li > .bar > .javascript{
    width: 45%;
    animation: javascript 3s;
}

.the-skills > .progress > li >  .bar > .php{
    width: 65%;
    animation: php 3s;
}

.the-skills > .progress > li >  .bar > .MysQL{
    width: 50%;
    animation: MysQL 3s;
} */

/* @keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
    
}

@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
    
}

@keyframes javascript {
    0%{
        width: 0%;
    }
    100%{
        width: 45%;
    }
    
}

@keyframes php {
    0%{
        width: 0%;
    }
    100%{
        width: 65%;
    }
    
}

@keyframes MysQL {
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
    
} */


/* the landing ends here