*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --fontfamily: 'Poppins', sans;
    --fontfamily2: sans-serif;
    --fontsize: 1rem;
    --fontsize2: 2rem;
    --color: #fff;
    --text-transform: capitalize;
    --letter-spacing: 2px;
    --font-weight: bolder;
    --background-color: purple;
    --transition: 0.5s;
    --fontfamily2: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

.header{
    width: 100%;
    padding: 1% 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    box-shadow: 1px 1px 1px var(--background-color);
    position: fixed;
    z-index: 100;
}

.header > .headings > h1{
    color: white;
    font-family: var(--fontfamily);
    font-size: 2rem;
    letter-spacing: var(--letter-spacing);
    text-transform: var(--text-transform);
}

.header > .navbar > ul{
    display: flex;
    list-style: none;
}

.header > .navbar > ul > li > a{
    padding: 5px;
    margin-right: 23px;
    font-size: 15px;
    font-family: var(--fontfamily);
    color: var(--color);
    text-transform: var(--text-transform);
    text-decoration: none;
    position: relative;
}

.header > .navbar > ul > li > a::before{
    content: '';
    width: 50%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: var(--background-color);
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition:transform .5s linear;
}

.header > .navbar > ul > li > a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}

.header > .navbar > ul li a.active:before{
    content: '';
    width: 50%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: var(--background-color);
    position: absolute;
    transform: scaleX(1);
    transform-origin: left;
    transition:transform .5s linear;
    color: var(--background-color);
    font-family: sans-serif;
}

/* the landing start here */

.landing{
    width: 100%;
    min-height: 170vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(19, 18, 18, 0.712), rgba(14, 13, 13, 0.614)), url(../IMAGES/background.jpg);
}

.landing > .container{
  margin-top: 10%;
  margin-bottom: 3%;
  padding: 2%;
  width: 90%;
  height: 160vh;
  display: block;
  align-items: center;
  background-color: black;
}

.landing > .container > .headings > h3{
  width: 20%;
  color: var(--color);
  font-family: var(--fontfamily);
  font-size: var(--fontsize);
  text-transform: var(--text-transform);
  letter-spacing: var(--letter-spacing);
  margin-bottom: 1%;
} 

.landing > .container > .headings{
    margin-bottom: 5%;
}

h3 > .line{
  display: inline-block;
  margin-left: 2%;
  width: 30%;
  height: 3px;
  background: var(--background-color);
}


.landing > .container > .headings > h1{
  font-family: var(--fontfamily);
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--color);
}

.landing > .container > .content{
    width: 100%;
    text-align: left;
    margin-bottom: 3%;
}

.landing > .container > .content > .fa{
    color: var(--color);
    font-size: 1.2rem;
}

.landing > .container > .content h3{
    font-family: var(--fontfamily);
    font-size: 2rem;
    color: var(--color);
    font-weight: var(--font-weight);
    text-transform: var(--text-transform);
    margin-bottom: 1%;
}

.landing > .container > .content a{
    color: var(--background-color);
    font-family: sans-serif;
    text-transform: var(--text-transform);
    font-size: 1.2rem;
    text-decoration: none;
    
}

.landing > .container > .content a:hover{
    color: palevioletred;
    transition: 0.5s;
}

.footer{
    /* width: 100%;
    background-color: black;
    padding: 10px; */
  
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 15px;
    text-align: right;
    font-size: 13px;
    color: #fff;
    z-index: 999999;
  }
  
  .footer > p{
    font-family: var(--fontfamily);
    font-size: var(--fontsize);
    color: var(--color);
    text-transform: var(--text-transform);
    text-align: right;
  }
  
  .footer > p > span{
    color: var(--background-color);
    font-weight: var(--font-weight);
    margin-right: 5px;
  }
  



  @media only screen and (max-width: 768px){


    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 2% 3%;
         /* Make the header fixed */
        background: black;
        position: fixed;
        z-index: 100;
    }
  
    .header > .headings > h1{
        font-size: 19px;
    }
    .header > .fa{
        display: block;
        color: var(--color);
        font-size: 1.3rem;
        margin: 5px 5px;
    }
    .header > .navbar > .fa{
        display: block;
        color: var(--color);
        font-size: 1.5rem;
        float: right;
        margin: 10px 20px;
    }
  
    .header > .navbar{
        overflow: hidden;
        background-color: black;
        position: fixed; /* or "absolute" depending on your layout */
        top: 0;
        left: -300px; /* initially hide the menu off-screen */
        transition: left 0.3s ease; /* smooth transition when showing/hiding */
        z-index: 1000; /* ensure it's above other content */
        width: 250px; /* adjust according to your design */
        height: 100%;
    }
  
  
  }
  


