*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --fontfamily: 'Poppins', sans;
    --fontfamily2: sans-serif;
    --fontsize: 1rem;
    --fontsize2: 2rem;
    --color: #fff;
    --text-transform: capitalize;
    --letter-spacing: 2px;
    --font-weight: bolder;
    --background-color: purple;
    --transition: 0.5s;
    --fontfamily2: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

.header{
    width: 100%;
    padding: 1% 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    box-shadow: 1px 1px 1px var(--background-color);
    position: fixed;
    z-index: 100;
}

.header > .headings > h1{
    color: white;
    font-family: var(--fontfamily);
    font-size: 2rem;
    letter-spacing: var(--letter-spacing);
    text-transform: var(--text-transform);
}

.header > .navbar > ul{
    display: flex;
    list-style: none;
}

.header > .navbar > ul > li > a{
    padding: 5px;
    margin-right: 23px;
    font-size: 15px;
    font-family: var(--fontfamily);
    color: var(--color);
    text-transform: var(--text-transform);
    text-decoration: none;
    position: relative;
}

.header > .navbar > ul > li > a::before{
    content: '';
    width: 50%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: var(--background-color);
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition:transform .5s linear;
}

.header > .navbar > ul > li > a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}

.landing{
    width: 100%;
    min-height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(19, 18, 18, 0.712), rgba(14, 13, 13, 0.614)), url(../IMAGES/background.jpg);
}

.landing > .container{
  margin-top: 10%;
  margin-bottom: 3%;
  padding: 2%;
  width: 90%;
  height: 100vh;
  display: block;
  align-items: center;
  background-color: black;
}

.landing > .container > .headings{
  margin-bottom: 2%;
}

.landing > .container > .headings > h3{
  width: 20%;
  color: var(--color);
  font-family: var(--fontfamily);
  font-size: var(--fontsize);
  text-transform: var(--text-transform);
  letter-spacing: var(--letter-spacing);
  margin-bottom: 1%;
} 

h3 > .line{
  display: inline-block;
  margin-left: 2%;
  width: 30%;
  height: 3px;
  background: var(--background-color);
}


.landing > .container > .headings > h1{
  font-family: var(--fontfamily);
  font-size: 2.3rem;
  text-transform: uppercase;
  color: var(--color);
}

.landing > .container > .container2{
  width: 100%;
  padding: 3%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.6rem;
  align-items: center;
  background: rebeccapurple;
}

.landing > .container > .container2 > .row{
  width: 100%;
  padding: 2% 3%;
  height: 100%;
  background-color: red;
  flex-basis: 1rem;
}

/* the header ends here */
