*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --fontfamily: 'Poppins', sans;
    --fontfamily2: sans-serif;
    --fontsize: 1rem;
    --fontsize2: 2rem;
    --color: #fff;
    --text-transform: capitalize;
    --letter-spacing: 2px;
    --font-weight: bolder;
    --background-color: purple;
    --transition: 0.5s;
    --fontfamily2: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

.header{
    width: 100%;
    padding: 1% 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    box-shadow: 1px 1px 1px var(--background-color);
    position: fixed;
    z-index: 100;
}

.header > .headings > h1{
    color: white;
    font-family: var(--fontfamily);
    font-size: 2rem;
    letter-spacing: var(--letter-spacing);
    text-transform: var(--text-transform);
}

.header > .navbar > ul{
    display: flex;
    list-style: none;
}

.header > .navbar > ul > li > a{
    padding: 5px;
    margin-right: 23px;
    font-size: 15px;
    font-family: var(--fontfamily);
    color: var(--color);
    text-transform: var(--text-transform);
    text-decoration: none;
    position: relative;
}

.header > .navbar > ul > li > a::before{
    content: '';
    width: 50%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: var(--background-color);
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition:transform .5s linear;
}

.header > .navbar > ul > li > a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}


/* the landing start here */
.landing{
    width: 100%;
    min-height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(19, 18, 18, 0.712), rgba(14, 13, 13, 0.614)), url(../IMAGES/background.jpg);
}

.landing > .container{
  margin-top: 10%;
  margin-bottom: 3%;
  padding: 2%;
  width: 90%;
  height: 100vh;
  display: block;
  align-items: center;
  background-color: black;
}

.landing > .container > .headings > h3{
  width: 20%;
  color: var(--color);
  font-family: var(--fontfamily);
  font-size: var(--fontsize);
  text-transform: var(--text-transform);
  letter-spacing: var(--letter-spacing);
  margin-bottom: 1%;
} 

h3 > .line{
  display: inline-block;
  margin-left: 2%;
  width: 30%;
  height: 3px;
  background: var(--background-color);
}


.landing > .container > .headings > h1{
  font-family: var(--fontfamily);
  font-size: 2.3rem;
  text-transform: uppercase;
  color: var(--color);
}

.landing > .container > .container2{
  width: 100%;
  padding: 3%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.6rem;
  align-items: center;
  background: transparent;
}

.landing > .container > .container2 > .row
{
  width: 100%;
  padding: 2% 3%;
  height: 100%;
  background-color:  rgba(204, 204, 204, 0.1);
  flex: 1rem;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
}
.landing > .container > .container2 > .content{
  position: relative;
}
.landing > .container > .container2 > .row > .content > .icon{
  margin: 0 auto;
  margin-bottom: 3%;
  width: 64px;
  height: 64px;
  background: var(--background-color);
  border-radius: 5px;
  transition: all 0.3s ease-out 0s;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
}
.landing > .container > .container2 > .row > .content > .icon::before{
  position: absolute;
  content: "";
  left: -8px;
  top: -8px;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  transition: all 0.3s ease-out 0s;
  transform: translateZ(-1px);
}
.landing > .container > .container2 > .row > .content > .icon > .fa{
  color: var(--color);
  font-size: 1.5rem;
}

.landing > .container > .container2 > .row > .content > h4{
  font-family: sans-serif;
  color: var(--color);
  font-weight: var(--font-weight);
  font-size: 1.5rem;
  margin-bottom: 4%;
}

.landing > .container > .container2 > .row > .content > p{
  color: rgba(355, 355, 355, 0.60);
  font-family: sans-serif;

}
.landing > .container > .container2 > .row:hover{
  background-color: var(--background-color);
  transition: 0.5s;
}

.landing > .container > .container2 > .row:hover .icon::before{
  background: var(--background-color);
}
.landing > .container > .container2 > .row:hover .icon{
  background-color: white;
}
.landing > .container > .container2 > .row:hover .icon > .fa{
  color: var(--background-color);
}


.footer{
  /* width: 100%;
  background-color: black;
  padding: 10px; */

  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 15px;
  text-align: right;
  font-size: 13px;
  color: #fff;
  z-index: 999999;
}

.footer > p{
  font-family: var(--fontfamily);
  font-size: var(--fontsize);
  color: var(--color);
  text-transform: var(--text-transform);
  text-align: right;
}

.footer > p > span{
  color: var(--background-color);
  font-weight: var(--font-weight);
  margin-right: 5px;
}

