*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --fontfamily: 'Poppins', sans;
    --fontsize: 1rem;
    --fontsize2: 2rem;
    --color: #fff;
    --text-transform: capitalize;
    --letter-spacing: 2px;
    --font-weight: bolder;
    --background-color: purple;
    --transition: 0.5s;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

/* the style for landing start here*/

.landing{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(19, 18, 18, 0.712), rgba(14, 13, 13, 0.614)), url(../IMAGES/background.jpg);
    background-position: center;
    background-size: contain;
}
.landing > .container{
    width: 100%;
    padding: 3% 2%;
    min-height: 90vh;
    padding: 9% 10%;
    display: block;
    justify-content: center;
    align-items: center;
    background-color:  transparent;
}

.landing > .container > .headings{
    width: 70%;
    /* padding: 1% 2%; */
    background: transparent;
}

.landing > .container > .headings > h1{
    font-family: var(--fontfamily);
    font-size: 3.2rem;
    font-weight: var(--font-weight);
    letter-spacing: 1px;
    text-transform: var(--text-transform);
    color: var(--color);
    margin-bottom: 2%;
}

.landing > .container > .headings > h2{
    font-family: var(--fontfamily);
    font-size: 1.3rem;
    color: rgb(160, 153, 153);
    letter-spacing: var(--letter-spacing);
    text-transform: var(--text-transform);
}
.landing > .container > .headings > h2 > span{
    color: var(--color);
    letter-spacing: var(--letter-spacing);
    padding: 5px 1%;
    border-bottom: 2px solid purple;
}

.landing > .container > .navbars{
    width: 50%;
    /* padding: 1% 1%; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-top: 3%;
    margin-bottom: 3%;
}

.landing > .container > .navbars >  .navbar > ul{
    list-style: none;
    display: flex;
}

.landing > .container > .navbars > .navbar{
    width: 100%;
    display: block;
    background: transparent;
    justify-content: left;
    align-items: center;
    text-align: left;
}

.landing > .container > .navbars >  .navbar > ul > li > a{
    padding: 5px;
    text-align: center;
    font-family: var(--fontfamily);
    font-size: var(--fontsize);
    letter-spacing: var(--letter-spacing);
    color: rgb(160, 153, 153);
    text-decoration: none;
    text-transform: var(--text-transform);
    font-weight: var(--font-weight);
    position: relative;
}

.landing > .container > .navbars > .navbar > .fa{
    display: none;
}

.landing > .fa{
    display: none;
}

.landing > .container > .navbars > .navbar > ul > li > a::before{
    content: '';
    width: 50%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: var(--background-color);
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition:transform .5s linear;
}

.landing > .container > .navbars > .navbar > ul > li > a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}

.landing > .container > .navbars > .navbar > ul li a.active:before{
    content: '';
    width: 50%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: var(--background-color);
    position: absolute;
    transform: scaleX(1);
    transform-origin: left;
    transition:transform .5s linear;
    color: var(--background-color);
    font-family: sans-serif;
}

.landing > .container > .icons{
    display: flex;
    width: 50%;
    background-color: transparent;
    padding: 10px;
}

.landing > .container > .icons > a{
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.1);
        color: #fff;
        line-height: 1;
        margin-right: 8px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        text-decoration: none;
}

.landing > .container > .icons > a:hover{
    background: var(--background-color);
    transition: var(--transition);
}


/* the style for landing end here*/

/* footer start here */
.landing > .footer{
    color: var(--color);
    width: 100%;
    background-color: transparent;
    text-transform: var(--text-transform);
    font-family: var(--fontfamily);
    letter-spacing: var(--letter-spacing);
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 15px;
    text-align: right;
    font-size: 13px;
    z-index: 999999;

}
.landing > .footer > span{
    color: var(--background-color);
    font-weight: var(--font-weight);
    margin-right: 5px;
}
/* footer ends here */





/* media query start here */


@media only screen and (max-width: 1023px){

}


@media only screen and (max-width: 768px){
    

    .landing{
        width: 100%;
        display: inline-block;
        justify-content: center;
        align-items: center;
    }

    .landing > .container{
        margin: 60% auto;
        width: 90%;
        min-height: 20px;
    }

    .landing > .container > .headings{
        width: 100%;
    }

    .landing > .container > .headings h1 {
        font-size: 28px;
    }

    .landing > .container > .headings > h2 {
        font-size: 15px;
    }

    .landing > .fa {
        display: block;
        font-size: 1.2rem;
        color: white;
        text-align: right;
        margin: 15px 20px;
    }

    .landing > .container > .navbars > .navbar{
        position: absolute;
        left: -300px;
        top: 0;
        width: 80%;
        height: 100vh;
        z-index: 999;
        /* background: rgb(21, 19, 19);     */
        background-color: red;
        box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.5);
        transition: 0.5s;
        display: block;
    }

    .landing > .container > .navbars > .navbar ul{
        display: block;
    }

    .landing > .container > .icons {
        width: 100%;
   }
   .landing > .footer{
    text-align: center;
   }
}   